.container {
}

header h1 {
	margin-top: 40px;
	margin-bottom: 10px;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

header a h1 {
	color: #333333;
	text-decoration: none;
}

/* INTRODUCTION */

#introduction hr {
	margin-top: 0px;
	margin-bottom: 25px;
}

#introduction h1 {
	font-size: 45px;
	margin-top: 40px;
	margin-bottom: 25px;
}

#introduction h2 {
 	font-size: 35px;
	margin-top: 40px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
}

#introduction p {
	font-size: 25px;
	line-height: 1.4;
	margin-bottom: 25px;
}

#introduction li {
	font-size: 25px;
	line-height: 1.5;
}

#introduction .skyscraper {
float: right;
}



#sections h1 {
	margin-bottom: 20px;
}

.grid {
	position: relative;
}

.empty {
	height: 400px;
	width: 300px;
	background-color: #EEEEEE;
}

.caption {
	position: absolute;
	top: 0;
	left: 0;
 	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 10px;
}

.footer {
	margin-top: 10px;
}

#ad_one {
	position: absolute;
}

#sections .row {
	margin-top: 20px;
}